@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-3">Olá, Mundo!</h1>
    <p class="lead">Este é um exemplo de CRUD desenvolvido em C# com:</p>
    <ul>
        <li>Visual Studio 2019 Community - v16.8.3</li>
        <li>Entity Framework</li>
        <li>Asp.Net Core 5.0</li>
        <li>SqlServer Express - renomear appsettings_.json para appsettings.json e configurar a string de conexão.</li>
    </ul>
    <hr class="my-4">
    <p>1) Cadastro de Profissionais:</p>
    <ul>
        <li>Ordernação e Pesquisa pelo nome e função com Paginação.</li>
    </ul>
    <p>2) Cadastro de Estabelecimentos:</p>
    <ul>
        <li>Ordernação e Pesquisa pelo nome com Paginação.</li>
    </ul>
    <p>3) Cadastro de Vínculos de Profissionais com Estabelecimentos (sem controle de duplicidade, pesquisa e paginação).</p>
    <p>4) Ao iniciar o sistema, serão adicionados 15 registros fictícios para os cadastros de Profissionais e Estabelecimentos.</p>
</div>